.mc-accordion {
  $slide-duration: 500ms;
  $fade-duration: 300ms;
  $delay-duration: $fade-duration;
  $bezier: cubic-bezier(0.5, -0.11, 0.355, 1.01);

  display: flex;
  width: 100%;

  &:hover {
    .mc-accordion__item {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    z-index: 0;
    flex: 1;
    padding: 0 12px;
    min-height: 512px;
    overflow: hidden;

    transition:
      flex-grow $slide-duration $bezier $delay-duration,
      opacity $fade-duration $bezier $delay-duration;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      flex-grow: 10;
    }
  }
}
