.mc-accordian {
  $slide-duration: 500ms;
  $fade-duration: 300ms;
  $bezier: cubic-bezier(0.5, -0.11, 0.355, 1.01);

  display: flex;
  width: 100%;

  &__item {
    cursor: pointer;

    position: relative;
    flex: 1;
    padding: 0 12px;
    min-height: 512px;
    overflow: hidden;

    transition: flex-grow $slide-duration $bezier $fade-duration;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &--active {
      flex-grow: 10;
      z-index: 1;
    }
  }
}
