.mc-badge {
  display: inline-block;
  vertical-align: middle;
  background: rgba($mc-color-gray-200, 0.5);
  color: $mc-color-light;
  border-radius: 20px;

  @include step(padding-top, 1);
  @include step(padding-right, 3);
  @include step(padding-bottom, 1);
  @include step(padding-left, 3);

  &--primary {
    background: $mc-color-primary;
  }
}
