.mc-badge {
  display: inline-block;
  vertical-align: middle;
  background: rgba($mc-color-gray-200, 0.5);
  color: $mc-color-light;
  padding: 0.25em 0.5em;
  border-radius: 3px;

  &--primary {
    background: $mc-color-primary;
  }
}
