$mc-carousel-centered-padding: 100px !default;

.slick-dots {
  /* stylelint-disable */
  display: flex !important;
  /* stylelint-enable */
  justify-content: center;
  padding: 25px 0 0;

  li {
    line-height: 0;
  }

  button {
    background: $mc-color-gray-400;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin: 0 4px;
    overflow: hidden;
    text-indent: 9999em;
    cursor: pointer;
    transition: background 250ms ease;
    outline: 0;

    &:hover {
      background: $mc-color-gray-300;
    }
  }

  .slick-active button {
    background: $mc-color-gray-500;
  }
}


.mc-carousel {
  position: relative;

  &__container {
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background: fade-out($mc-color-light, 0.7);
    transform: translateY(-50%);
    color: $mc-color-light;
    text-align: center;
    z-index: 5;
    cursor: pointer;

    &:hover {
      &:before {
        background: fade-out($mc-color-light, 0.5);
      }
    }

    &--right {
      right: $grid-gutter-width/2;

      @media (min-width: $mc-bp-xl) {
        right: $grid-gutter-width-xl/2;
      }
    }

    &--left {
      left: $grid-gutter-width/2;

      @media (min-width: $mc-bp-xl) {
        left: $grid-gutter-width-xl/2;
      }
    }
  }

  &--fade-edges {
    $centered-padding: 200px;

    .slick-list {
      margin: 0 (-$centered-padding);
    }

    &:before,
    &:after {
      content: "";

      position: absolute;
      top: 0;
      width: $centered-padding;
      height: 100%;
      z-index: 1;

      pointer-events: none;
    }

    &:before {
      right: -$centered-padding;
      background: linear-gradient(to left, rgba($mc-color-background, 1) 0%, rgba($mc-color-background, 0) 100%);
    }

    &:after {
      left: -$centered-padding;
      background: linear-gradient(to right, rgba($mc-color-background, 1) 0%, rgba($mc-color-background, 0) 100%);
    }
  }

  // DEPRECATED
  &__slide {
    width: 320px;
    height: 180px;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// DEPRECATED
.mc-carousel-arrow {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  &--right {
    transform: rotate(0deg);
  }

  &--left {
    transform: rotate(180deg);
  }
}
