$mc-carousel-centered-padding: 100px !default;
$scrollbar-max-width: 17px !default;

.mc-carousel {
  position: relative;

  // We need to override slick sliders default scss
  // so that we can have cool hover effects and not cut off
  // tiles that overflow the slick container
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
  }

  .slick-active {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    margin: 0 calc(50% - 50vw + #{$scrollbar-max-width / 2});
    padding: 0 calc(50vw - 50% - #{$scrollbar-max-width / 2});
    overflow: hidden;
  }

  .slick-dots {
    /* stylelint-disable */
    display: flex !important;
    /* stylelint-enable */
    justify-content: center;
    padding: $grid-gutter-width/2 0;

    @media only screen and (min-width: $mc-bp-sm) {
      padding: $grid-gutter-width-sm/2 0;
    }

    @media only screen and (min-width: $mc-bp-md) {
      padding: $grid-gutter-width-md/2 0;
    }

    @media only screen and (min-width: $mc-bp-lg) {
      padding: $grid-gutter-width-lg/2 0;
    }

    @media only screen and (min-width: $mc-bp-xl) {
      padding: $grid-gutter-width-xl/2 0;
    }

    li {
      line-height: 0;
    }

    button {
      background: $mc-color-gray-400;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      margin: 0 4px;
      overflow: hidden;
      text-indent: 9999em;
      cursor: pointer;
      transition: background 250ms ease;
      outline: 0;

      &:hover {
        background: $mc-color-gray-300;
      }
    }

    .slick-active button {
      background: $mc-color-gray-500;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background: rgba($mc-color-gray-100, 0.8);
    color: $mc-color-light;
    text-align: center;
    z-index: 5;
    cursor: pointer;

    &:hover {
      &:before {
        background: fade-out($mc-color-light, 0.5);
      }
    }

    &--right {
      right: $grid-gutter-width/2;
      transform: translate(50%, -50%);

      @media (min-width: $mc-bp-xl) {
        right: $grid-gutter-width-xl/2;
      }
    }

    &--left {
      left: $grid-gutter-width/2;
      transform: translate(-50%, -50%);

      @media (min-width: $mc-bp-xl) {
        left: $grid-gutter-width-xl/2;
      }
    }

    // Disabled state for when you can't
    // advance the slide or "go back" anymore
    &.slick-disabled {
      display: none;
    }
  }

  &--overflow {
    .slick-slide {
      opacity: 1;
      pointer-events: auto;
    }
  }

  // DEPRECATED
  &__slide {
    width: 320px;
    height: 180px;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// DEPRECATED
.mc-carousel-arrow {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  &--right {
    transform: rotate(0deg);
  }

  &--left {
    transform: rotate(180deg);
  }
}
