.mc-dropdown {
  position: relative; // positions the dropdown content
  display: inline-block;
  perspective: 2000px;

  &__content {
    position: absolute;
    top: 100%;
    margin: 0;
    min-width: 100%;
    width: calc(100vw - #{$container-margin * 2});
    max-width: 400px;
    background: $mc-color-gray-100;
    border: 1px solid $mc-color-gray-200;
    border-radius: $default-radius;
    transform-origin: 50% -50px;
    transform: rotateX(-15deg);
    opacity: 0;
    transition:
      opacity 250ms ease,
      transform 250ms ease;

    @include step(margin-top, 1);
  }

  &__item {
    cursor: pointer;
    background: transparent;
    transition: background 250ms ease;

    &:hover {
      background: $mc-color-gray-200;
    }
  }

  &--active {
    .mc-dropdown__content {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
}
