$dropdown-speed: 300ms !default;

.mc-dropdown {
  $mc-dropdown-body-margin: 1;
  $mc-dropdown-body-padding: 1;

  position: relative; // positions the dropdown content
  display: inline-block;
  z-index: 0;
  perspective: 2000px;
  // Wait til animation finishes to
  // change z-index back to default
  transition: z-index 0ms $dropdown-speed linear;

  &__body {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    margin: 0;
    max-width: 400px;
    min-width: 100%;
    width: calc(100vw - #{$container-margin * 2});
    max-height: 50vh;
    background: $mc-color-gray-100;
    border: 1px solid $mc-color-gray-200;
    border-radius: $default-radius;
    box-shadow: 0 4px 24px rgba($mc-color-dark, 0.3);
    transform-origin: 50% -50px;
    transform: rotateX(-15deg);
    opacity: 0;
    transition:
      opacity $dropdown-speed ease,
      transform $dropdown-speed ease;
    overflow: auto;
    pointer-events: none;

    @include step(margin-top, $mc-dropdown-body-margin);
    @include step(padding-top, $mc-dropdown-body-padding);
    @include step(padding-bottom, $mc-dropdown-body-padding);

    .mc-invert & {
      background: $mc-color-light;
      border-color: $mc-color-gray-700;
    }
  }

  &__header {
    @include step(margin-top, -$mc-dropdown-body-padding);
    border-bottom: 1px solid $mc-color-gray-200;

    .mc-invert & {
      border-color: $mc-color-gray-700;
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
  }

  &__footer {
    @include step(margin-bottom, -$mc-dropdown-body-padding);
    border-top: 1px solid $mc-color-gray-200;

    .mc-invert & {
      border-color: $mc-color-gray-700;
    }
  }

  &__item {
    cursor: pointer;
    background: transparent;
    transition: background $dropdown-speed ease;

    &:hover {
      background: $mc-color-gray-200;

      .mc-invert & {
        background: $mc-color-gray-700;
      }
    }
  }

  &--active {
    z-index: $mc-zindex-dropdown;
    // Wait til animation finishes to
    // change z-index back to default
    transition: z-index 0s 0s linear;

    .mc-dropdown__body {
      opacity: 1;
      transform: rotateX(0deg);
      pointer-events: auto;
    }
  }
}
