.mc-site-footer {
  .row {
    padding: 64px 0;
    border-top: 1px solid rgba($mc-color-light, 0.2);
  }

  &__logo-footer {
    $padding-offset: 16px;
    width: 85px;
    height: calc(56px + #{$padding-offset});
    padding-bottom: $padding-offset;
    border-bottom: 1px solid $mc-color-gray-300;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 280px;
  }

  &__link {
    padding: 8px 4px;

    a {
      color: $mc-color-gray-500;
      transition: color 250ms ease;

      &:hover {
        color: $mc-color-gray-600;
      }
    }
  }

  &__copyright {
    text-align: center;
    width: 100%;
    color: $mc-color-gray-400;
  }

  &__ssl-badge {
    display: none;
  }
}

@media (min-width: $mc-bp-lg) {
  .mc-site-footer {
    &__logo-footer {
      border: 0;
      padding: 0;
      width: 75px;
      height: 50px;
    }

    &__links {
      max-width: none;
    }

    &__ssl-badge {
      display: inline;
      width: 162px;
      height: 34px;
    }
  }
}

@media (min-width: $mc-bp-xl) {
  .mc-site-footer {
    &__logo-footer {
      width: 97px;
      height: 64px;
    }

    &__links {
      margin: 0 10px;
      border-left: 1px solid rgba($mc-color-light, 0.2);
      border-right: 1px solid rgba($mc-color-light, 0.2);
    }

    &__link {
      padding: 0 5px;
    }

    &__copyright {
      margin-top: 8px;
    }
  }
}
