.mc-icon {
  fill: $mc-color-light;
  width: 16px;
  height: 16px;

  @for $i from 1 through 16 {
    &--#{$i}x {
      font-size: $mc-step-scale * $i;
    }
  }

  &--7x {
    &.mc-icon--circled {
      padding: $mc-step-scale * 2;
    }
  }

  &--rotate-90 {
    transform: rotate(90deg);
  }

  &--rotate-180 {
    transform: rotate(180deg);
  }

  &--rotate-270 {
    transform: rotate(270deg);
  }

  &--circled {
    border: 1px solid currentColor;
    border-radius: 100%;
  }


  // DEPRECATED

  // Sizing
  &--sm {
    width: 15px;
    height: 15px;
  }

  &--md {
    width: 20px;
    height: 20px;
  }

  &--lg {
    width: 25px;
    height: 25px;
  }

  &--xl {
    width: 40px;
    height: 40px;
  }

  // Color modification
  &--transparent {
    fill: none;
  }
}
