.mc-modal {
  @include fade-in-opacity();

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $mc-zindex-modal-backdrop;

  &__backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($mc-color-dark, 0.8);
    z-index: $mc-zindex-modal-backdrop;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2rem;
    padding: 1rem;
    line-height: 1rem;
    background: rgba($mc-color-dark, 0.5);
    border-radius: 100%;
    cursor: pointer;
    z-index: $mc-zindex-modal + 2;

    svg {
      vertical-align: top;
    }
  }

  &__content-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: $mc-zindex-modal;
  }

  &__content-container-inner {
    flex: 1;
    margin: auto;
  }

  &__content {
    &:focus {
      outline: none;
    }
  }

  &__body--open {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
}
