$whitespace: 5% !default;

.mc-nameplate {
  position: relative;
  margin-bottom: $whitespace;

  &.mc-nameplate--fixed {
    @include aspect-ratio(21, 9);
  }

  &__content {
    .mc-nameplate--fixed & {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100% + ($whitespace * 2);
    height: 100% + ($whitespace * 2);
    margin: -$whitespace;
    object-fit: contain;
    object-position: bottom;
    vertical-align: middle;
  }

  &__separator {
    display: block;
    margin: ($whitespace + 2%) auto $whitespace;
    width: 6%;
    height: var(--mc-scale-1);
    background: var(--mc-theme-text);
  }
}
