.mc-section {
  padding: 2*$grid-gutter-width 0;

  &__header {
    padding-bottom: 2*$grid-gutter-width;
  }

  @media (min-width: $mc-bp-xl) {
    padding: 2*$grid-gutter-width-xl 0;

    &__header {
      padding-bottom: 2*$grid-gutter-width-xl;
    }
  }
}
