@mixin tile-aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: "";
  }

  .mc-tile__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.mc-tile,
.tile {
  position: relative;
  backface-visibility: hidden;
  cursor: pointer;

  &--1x1,
  &--square {
    @include tile-aspect-ratio(1, 1);
  }

  &--4x3,
  &--video {
    @include tile-aspect-ratio(4, 3);
  }

  &--16x9,
  &--widescreen-video {
    @include tile-aspect-ratio(16, 9);
  }

  &--100x65 {
    @include tile-aspect-ratio(100, 65);
  }

  &--1000x609,
  &--site {
    @include tile-aspect-ratio(1000, 609);
  }

  &--519x187,
  &--ultra-wide {
    @include tile-aspect-ratio(519, 187);
  }

  &--with-gradient {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0) 40%);
    }
  }

  &--hover-zoom {
    overflow: inherit;

    @include transition($transition-base);

    &:hover {
      overflow: inherit;
      box-shadow: 0 0 0 2px #d8d8d8;
      transform: scale(1.01);
    }
  }

  &__component {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.mc-tile-image {
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-repeat: cover;
    background-size: cover;
  }
}

.mc-tile-video {
  overflow: hidden;

  &__mute {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 15px;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.mc-tile-overlay {
  z-index: 0;
  // To ensure the overlay extends just passed the bounds
  transform: scale(1.01);

  &--gradient-bottom {
    background:
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0,
        rgba(0, 0, 0, 0.6) 25%,
        transparent 45%
      );
  }
}

.mc-tile-caption {
  z-index: 2;

  &__titles {
    position: absolute;
    padding: 16px;
    width: 100%;
    background: rgba($mc-dark, 0);
    text-shadow: 0 0 10px #000;
    transition: transform 0.2s ease;

    .mc-tile-caption--bottom & {
      left: 0;
      top: 100%;
      transform: translateY(-100%);
    }

    .mc-tile-caption--below & {
      left: 0;
      top: 100%;
      transform: translateY(0);
      background: rgba($mc-dark, 1);
      transition: transform 0.2s ease, background 0.2s ease 0.2s;
    }

    .mc-tile-caption--center & {
      text-align: center;
    }
  }

  &__title {
    font-size: 26px;
    margin-bottom: 0.3em;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1em;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.045em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
    font-weight: 400;
  }
}

.mc-tile-check {
  cursor: pointer;
  z-index: 3;

  &__check {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 42px;
    margin: 16px;
    z-index: 3;
    color: $mc-light;
  }
}
