.mc-tile,
.tile {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;

  &--4x3,
  &--video {
    @include aspect-ratio(4, 3);
  }
  &--16x9,
  &--widescreen-video {
    @include aspect-ratio(16, 9);
  }

  &--1000x609,
  &--site {
    @include aspect-ratio(1000, 609);
  }
  &--519x187 {
    @include aspect-ratio(519, 187);
  }

  &--with-gradient {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0) 40%);
    }
  }

  &--hover-zoom {
    overflow: inherit;

    @include transition($transition-base);

    &:hover {
      overflow: inherit;
      box-shadow: 0 0 0 2px #d8d8d8;
      transform: scale(1.01);
    }
  }
}


.mc-check-tile {
  cursor: pointer;
  overflow: visible;

  &__check {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.8rem;
    height: 3.7rem;
    z-index: 3;
  }
}
