.mc-tile {
  position: relative;
  backface-visibility: hidden;
  box-shadow:
    0 3px 6px rgba($mc-color-dark, 0.16),
    0 3px 6px rgba($mc-color-dark, 0.23);

  cursor: pointer;

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &--naked {
    &:after {
      display: none;
    }
  }

  &--active {
    &:after {
      box-shadow: inset 0 0 0 1px rgba($mc-color-light, 0.2);
    }
  }

  &--auto {
    width: 100%;
    height: 100%;
  }

  &--1x1,
  &--square {
    @include aspect-ratio(1, 1);
  }

  &--2x3 {
    @include aspect-ratio(2, 3);
  }

  &--3x4,
  &--poster {
    @include aspect-ratio(3, 4);
  }

  &--4x3,
  &--video {
    @include aspect-ratio(4, 3);
  }

  &--9x16,
  &--portrait {
    @include aspect-ratio(9, 16);
  }

  &--16x9,
  &--widescreen-video {
    @include aspect-ratio(16, 9);
  }

  &--21x9,
  &--cinematic {
    @include aspect-ratio(21, 9);
  }

  &__component {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.mc-tile-image {
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: cover;
    background-size: cover;
    background-position: center;
  }
}

.mc-tile-video {
  overflow: hidden;

  &__mute {
    position: absolute;
    right: 0;
    top: 0;
    // width: 24px;
    // height: 24px;
    margin: 12px;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: 0.2s ease opacity;


    .mc-tile-video--ready & {
      opacity: 1;
    }
  }
}

.mc-tile-overlay {
  &--gradient-bottom {
    background:
      linear-gradient(
        to top,
        rgba($mc-color-dark, 0.9) 0,
        rgba($mc-color-dark, 0.6) 25%,
        rgba($mc-color-dark, 0) 45%
      ) center no-repeat;
  }

  &--gradient-left {
    background:
      linear-gradient(
        to right,
        rgba($mc-color-dark, 0.9) 0,
        rgba($mc-color-dark, 0.6) 25%,
        rgba($mc-color-dark, 0) 45%
      ) center no-repeat;
  }

  &--offset-spotlight {
    background:
      radial-gradient(
        farthest-side at center top,
        rgba($mc-color-background, 0) 33%,
        rgba($mc-color-background, 1) 100%
      ),
      linear-gradient(
        to right,
        rgba($mc-color-dark, 1) 0%,
        rgba($mc-color-dark, 0) 40%
      ),
      linear-gradient(
        to left,
        rgba($mc-color-dark, 1) 0%,
        rgba($mc-color-dark, 0) 40%
      );
  }

  &--spotlight {
    background:
      radial-gradient(
        farthest-side at top,
        rgba($mc-color-background, 0) 66%,
        rgba($mc-color-background, 1) 100%
      );
  }
}

.mc-tile-caption {
  display: flex;

  &__content {
    position: absolute;
    padding: 16px;
    width: 100%;
    text-shadow: 0 0 10px $mc-color-dark;
    transition:
      transform 0.2s ease,
      padding 0.2s ease;
  }

  // Modifiers
  &--x-left {
    .mc-tile-caption__content {
      text-align: left;
    }
  }

  &--x-center {
    .mc-tile-caption__content {
      text-align: center;
    }
  }

  &--x-right {
    .mc-tile-caption__content {
      text-align: right;
    }
  }

  &--y-center {
    .mc-tile-caption__content {
      align-self: center;
    }
  }

  &--y-bottom {
    .mc-tile-caption__content {
      align-self: flex-end;
    }
  }

  &--y-below {
    .mc-tile-caption__content {
      align-self: flex-end;
      padding-left: 0;
      padding-right: 0;
      transform: translateY(100%);
    }
  }
}

.mc-tile-check {
  cursor: pointer;
  &__check {
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
    height: 52px;
    margin: 16px;
    color: $mc-color-light;
  }
}

.mc-tile-progress {
  &__content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background: $mc-color-gray-200;
  }

  &__bar {
    height: 100%;
    background: $mc-color-primary;
  }
}
