$toast-delay: 500ms !default;
$toast-speed: 1250ms !default;

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    max-width: 550px;
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes toast-content-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mc-toaster {
  position: fixed;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: $mc-zindex-toast;

  @include step(bottom, 8);
}

.mc-toast {
  background: $mc-color-gray-200;
  border-radius: $default-radius;
  line-height: 2;
  overflow: hidden;
  margin: 0 auto;
  max-width: 550px;
  animation-name: toast-out;
  animation-delay: $toast-delay;
  animation-duration: $toast-speed;
  animation-iteration-count: once;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transition: background 200ms ease;

  &:hover {
    background: $mc-color-gray-300;
  }

  &--success {
    background: $mc-color-success;

    &:hover {
      background: lighten($mc-color-success, 5%);
    }
  }

  &--error {
    background: $mc-color-error;

    &:hover {
      background: lighten($mc-color-error, 5%);
    }
  }

  &--show {
    animation-name: toast-in;
    animation-delay: 0ms;
    animation-duration: $toast-speed;
    animation-iteration-count: once;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    // Allow us to click when it's visible
    pointer-events: auto;

    .mc-toast__content {
      animation-name: toast-content-in;
      animation-delay: 0ms;
      animation-duration: $toast-speed;
      animation-iteration-count: once;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
}
