.mc-tooltip {
  position: absolute;
  padding: 8px 12px;
  max-width: 400px;

  background: $mc-color-gray-200;
  border: 1px solid $mc-color-gray-400;
  border-radius: 3px;
  opacity: 0;

  color: $mc-color-light;

  pointer-events: none;

  &--show {
    opacity: 1;

    pointer-events: auto;
  }

  &__arrow,
  &__arrow:after {
    position: absolute;
    width: 0;
    height: 0;

    border-style: solid;
    border-color: $mc-color-gray-400;
  }

  &__arrow:after {
    content: "";
    position: absolute;

    border-style: solid;
    border-color: $mc-color-gray-200;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .mc-tooltip__arrow {
      &,
      &:after {
        left: calc(50% - 5px);
        bottom: -5px;

        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }

      &:after {
        bottom: 1px;
      }
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .mc-tooltip__arrow {
      &,
      &:after {
        left: calc(50% - 5px);
        top: -5px;

        border-width: 0 5px 5px 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
      }

      &:after {
        top: 1px;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .mc-tooltip__arrow {
      &,
      &:after {
        left: -5px;
        top: calc(50% - 5px);

        border-width: 5px 5px 5px 0;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }

      &:after {
        left: 1px;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .mc-tooltip__arrow {
      &,
      &:after {
        right: -5px;
        top: calc(50% - 5px);

        border-width: 5px 0 5px 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }

      &:after {
        right: 1px;
      }
    }
  }
}
