.mc-video {
  position: relative;
  width: 480px;
  height: 240px;

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__view {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    // background: rgba(0, 0, 0, 0.7);
    transition: 200ms ease opacity;
  }

  &__controls-view {
    opacity: 0;

    .mc-video--show-controls & {
      opacity: 1;
    }
  }

  &__settings-view {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 200ms, opacity 200ms ease;

    .mc-video--show-settings & {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s, opacity 200ms ease;
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    align-items: stretch;
    pointer-events: all;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px;
    padding-top: 10%;
    background:
      linear-gradient(
        to top,
        rgb(0, 0, 0) 0,
        rgba(0, 0, 0, 0.738) 19%,
        rgba(0, 0, 0, 0.541) 34%,
        rgba(0, 0, 0, 0.382) 47%,
        rgba(0, 0, 0, 0.278) 56.5%,
        rgba(0, 0, 0, 0.194) 65%,
        rgba(0, 0, 0, 0.126) 73%,
        rgba(0, 0, 0, 0.075) 80.2%,
        rgba(0, 0, 0, 0.042) 86.1%,
        rgba(0, 0, 0, 0.021) 91%,
        rgba(0, 0, 0, 0.008) 95.2%,
        rgba(0, 0, 0, 0.002) 98.2%,
        rgba(0, 0, 0, 0) 100%
      ) center no-repeat;
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__time,
  &__duration {
    margin: 0 4px;
  }

  &__scrubber {
    position: relative;
    margin: 0 8px;
    flex: 1;
  }

  &__scrubber-bar {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }

  &__buffer-bar,
  &__time-bar {
    position: absolute;
    left: 0;
    top: 50%;
    height: 4px;
    transform: translateY(-50%);
    background: $mc-color-gray-300;
    border-radius: 2px;
  }

  &__time-bar {
    background: $mc-color-primary;
  }

  &__time-slider {
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    background: $mc-color-light;
    border-radius: 100%;
  }
}
