.mc-video {
  @include aspect-ratio(16, 9);
  position: relative;
  background: $mc-color-dark;
  overflow: hidden;

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fit;
    z-index: 0;

    .mc-video--cover & { object-fit: cover; }
    .mc-video--fill & { object-fit: fill; }
  }

  &__controls {
    position: absolute;
    display: flex;
    align-items: stretch;
    pointer-events: all;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba($mc-color-dark, 0.4);
    transform: translate(0, 120%);
    transition: transform ease 400ms;

    .mc-video--show-controls & {
      transform: translate(0, 0);
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__spacer {
    flex: 1;
  }


  &__scrubber {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 20px;

    .mc-slider {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .mc-video__controls:hover & .mc-slider {
      height: 20px;
    }
  }

  &__volume {
    position: relative;
    width: 60px;
    height: 100%;

    .mc-slider {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__volume,
  &__time,
  &__duration {
    margin: 0 12px;
  }

  &__view {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    // background: rgba(0, 0, 0, 0.7);
    transition: 200ms ease opacity;
  }

  &__settings-view {
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 200ms, opacity 200ms ease;

    .mc-video--show-settings & {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s, opacity 200ms ease;
    }
  }
}

.mc-slider {
  position: relative;
  width: 100%;
  height: 4px;
  cursor: pointer;
  transition: height ease 300ms;

  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($mc-color-light, 0.2);
  }

  &__buffer,
  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba($mc-color-light, 0.5);
  }

  &__fill {
    background: $mc-color-primary;
  }

  &__handle {
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: calc(100% + 4px);
    background: $mc-color-light;
    border-radius: 2px;
    transform: translate(-50%, -50%);
  }
}
