.mc-video {
  @include aspect-ratio(16, 9);
  position: relative;
  background: $mc-color-dark;
  overflow: hidden;
  user-select: none;

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fit;
    z-index: 0;
    pointer-events: none;

    .mc-video--fit-cover & { object-fit: cover; }
    .mc-video--fit-fill & { object-fit: fill; }
  }

  &__controls {
    position: absolute;
    display: flex;
    align-items: stretch;
    pointer-events: all;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba($mc-color-dark, 0.4);
    transform: translate(0, 120%);
    transition: transform ease 400ms;

    .mc-video:hover &,
    .mc-video:active &,
    .mc-video--state-idle & {
      transform: translate(0, 0);
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__spacer {
    flex: 1;
  }

  &__scrubber {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: var(--mc-scale-5);
    z-index: 10;
    transform: translateY(calc(50% - (var(--mc-scale-1)/2)));

    .mc-slider {
      position: absolute;
      left: 0;
      width: 100%;

      &__bar,
      &__buffer,
      &__fill {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__volume {
    &-slider {
      position: relative;
      width: 0;
      height: 100%;
      opacity: 0;
      transition: opacity ease 200ms, width ease 200ms;

      display: none;

      @media (min-width: $mc-bp-sm) {
        display: flex;
      }

      .mc-video__volume:hover &,
      .mc-video__volume:active & {
        width: 60px;
        opacity: 1;
      }

      .mc-slider {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__time {
    margin: 0 var(--mc-scale-3);
    display: flex;
  }

  &__settings {
    display: block;
  }

  &__view {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 200ms ease opacity;
  }

  &__settings-view {
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 200ms, opacity 200ms ease;

    .mc-video--show-settings & {
      opacity: 1;
      visibility: visible;
      transition: visibility 0s, opacity 200ms ease;
    }
  }
}
