/* disabling because these are needed for overriding 3rd party styles */
/* stylelint-disable declaration-no-important, selector-max-class */
$default-primary-color: $mc-color-primary !default;
$brightcove-progress-size: 0.45em !default;

$brightcove-video-sizes: (
  (512px, 288px),
  (768px, 432px),
  (1024px, 576px),
  (1280px, 720px),
  (1920px, 1080px)
) !default;

.bc-player {
  position: relative;
  display: block;
  overflow: hidden;

  &--has-breakpoints {
    width: 256px;
    height: 144px;

    @each $dimensions in $brightcove-video-sizes {
      @media (min-width: nth($dimensions, 1) + 100px) {
        width: nth($dimensions, 1);
        height: nth($dimensions, 2);
      }
    }
  }

  &--screen-open {
    pointer-events: none;
  }

  &__wrapper {
    padding-bottom: 56.25%;
  }

  @each $kind in $btn-kinds {
    .c-button--#{$kind} {
      @extend .c-button--#{$kind};
    }
  }
}

.bc-player__video {
  font-family: inherit;
  position: static;
  width: 100%;
  height: 100%;

  .vjs-contextmenu-ui-menu {
    display: none;
  }

  .vjs-big-play-button {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    background: transparent !important;

    &:focus {
      outline: 0;
    }

    &:before {
      content: svg-load("video-player-icons/big-play-button.svg");
      transform: scale(1);
      transition: transform 150ms ease-in, opacity 2s ease;
    }

    &:hover:before {
      transform: scale(1.1);
    }

    .vjs-icon-placeholder {
      display: none;
    }
  }

  &.not-hover .vjs-control-bar,
  &.vjs-user-inactive .vjs-control-bar {
    transform: translateY(3em + $brightcove-progress-size) !important;
  }

  &.vjs-mouse {
    .vjs-control-bar {
      font-size: 14px;
      bottom: -1px;
      z-index: 2;
    }

    .vjs-progress-control {
      height: $brightcove-progress-size;
      top: -$brightcove-progress-size;

      .vjs-progress-holder,
      .vjs-marker {
        transform-origin: bottom center;
        transform: translate3d(0, 0, 0) scaleY(1);
        transition: transform 150ms ease;
      }

      &:hover {
        .vjs-progress-holder,
        .vjs-marker {
          transform: translate3d(0, 0, 0) scaleY(1.4);
        }

        height: $brightcove-progress-size;
        top: -$brightcove-progress-size;
      }
    }
  }

  .vjs-button {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 0;
      text-shadow: none !important;
    }

    &:before,
    &:focus:before,
    &:hover:before {
      outline: 0;
      text-shadow: none !important;
    }
  }

  .vjs-control:before {
    line-height: 1.8;
    width: 32px;
    height: 32px;
    left: 16px;
  }

  .vjs-play-control.vjs-playing:before {
    content: svg-load("video-player-icons/pause.svg");
  }

  .vjs-play-control:before {
    content: svg-load("video-player-icons/play.svg");
  }

  .vjs-volume-menu-button.vjs-vol-3:before {
    content: svg-load("video-player-icons/volume-3.svg");
  }

  .vjs-volume-menu-button.vjs-vol-2:before {
    content: svg-load("video-player-icons/volume-2.svg");
  }

  .vjs-volume-menu-button.vjs-vol-1:before {
    content: svg-load("video-player-icons/volume-1.svg");
  }

  .vjs-volume-menu-button.vjs-vol-0:before {
    content: svg-load("video-player-icons/volume-0.svg");
  }

  &.vjs-quality-menu .vjs-quality-menu-button:before {
    content: svg-load("video-player-icons/cog.svg");
  }

  .video-annotations-menu:before {
    top: 3px;
    content: svg-load("video-player-icons/annotations.svg");
  }

  .vjs-subtitles-button:before {
    content: svg-load("video-player-icons/cc.svg");
  }

  .vjs-fullscreen-control:before {
    content: svg-load("video-player-icons/fullscreen.svg");
  }

  &.vjs-fullscreen .vjs-fullscreen-control:before {
    content: svg-load("video-player-icons/fullscreen-exit.svg");
  }

  .vjs-playback-rate .vjs-playback-rate-value {
    font-size: 1em;
    line-height: 2.2;
    font-weight: 700;
    top: 5px;
  }

  &.vjs-quality-menu .vjs-quality-menu-button-4K-flag:after,
  &.vjs-quality-menu .vjs-quality-menu-button-HD-flag:after {
    font-size: 0.6em;
    font-weight: 600;
    right: 7px;
    top: 7px;
    height: auto;
    line-height: 1.4em;
    border-radius: 4px;
  }

  // capitalize HD label
  .vjs-quality-menu-item-sub-label {
    text-transform: uppercase;
  }

  .vjs-volume-menu-button {
    &.vjs-slider-active,
    &:hover,
    &:focus {
      width: 10em;
    }
  }

  .vjs-current-time,
  .vjs-duration,
  .vjs-time-divider {
    padding: 0 0.3em;
  }

  .vjs-time-control {
    min-width: inherit;
    text-align: center;
  }

  .vjs-progress-holder .vjs-play-progress .vjs-time-tooltip,
  .vjs-progress-holder .vjs-tooltip-progress-bar:last-child .vjs-time-tooltip {
    display: none;
  }

  .vjs-time-tooltip {
    height: auto;
    padding: 8px;
    border-radius: 2px;
    transform: translate3d(0, 0, 0) scaleY(0.75);
  }

  // captialize subtitle options
  .vjs-captions-button,
  .vjs-subs-caps-button {
    .vjs-menu-item {
      text-transform: uppercase;
    }
  }

  .vjs-texttrack-settings {
    display: none;
  }

  .vjs-menu-button-popup .vjs-menu {
    left: -2.6em;

    .vjs-menu-content {
      padding-bottom: 0.75em;
    }

    .vjs-menu-item {
      border-radius: 0;
      margin: 0;
      font-size: 0.9em;
      text-shadow: none !important;
    }
  }

  .vjs-overlay-buttons {
    position: absolute;
    z-index: 1;
    height: auto;
    bottom: 10px;
    left: 20px;
    text-align: left;

    .vjs-control {
      width: 35px;
      height: 35px;
      margin: 0;

      &:before {
        font-size: 35px;
        line-height: 1;
      }
    }
  }

  .vjs-custom-endscreen-overlay {
    opacity: 0;
    animation: 700ms endscreen-fade ease-out;
    animation-fill-mode: forwards;
  }

  .vjs-endscreen-overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    background: transparent;
  }

  @media (min-width: 992px) {
    &.vjs-mouse .vjs-control-bar {
      font-size: 17px;
    }
  }

  @media (min-width: 768px) {
    &.vjs-mouse .vjs-control-bar {
      font-size: 16px;
    }
  }

  @media (max-width: 767px) {
    .video-annotations-menu {
      display: none;
    }
  }
}

.bc-player__video--default {
  .vjs-progress-control .vjs-load-progress,
  .vjs-progress-control .vjs-progress-holder {
    background-color: rgba($mc-color-light, 0.3);
  }

  .vjs-progress-control .vjs-play-progress {
    background-color: $default-primary-color;
  }

  .vjs-load-progress div {
    background-color: rgba($mc-color-light, 0.18);
  }

  .vjs-volume-level {
    background-color: rgba($mc-color-light, 0.9);
  }

  .vjs-control-bar {
    background: rgba($mc-color-dark, 0.4);
  }

  .vjs-menu-button-popup .vjs-menu {
    .vjs-menu-content {
      padding-bottom: 14px;
    }

    .vjs-menu-item {
      font-family: $mc-font-default;
      font-size: 16px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      background-color: rgba($mc-color-dark, 0.8);

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.vjs-selected {
        color: $mc-color-light;
        background-color: $mc-color-gray-300;

        &:hover {
          background-color: $mc-color-gray-300;
        }
      }

      &:hover {
        background-color: rgba($mc-color-dark, 0.8);
      }
    }
  }
}

.bc-player-screen {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($mc-color-dark, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: 700ms ease-out;

  &--is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes endscreen-fade {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
