/* disabling because these are needed for overriding 3rd party styles */
/* stylelint-disable declaration-no-important, selector-max-class */
$mc-video-control-height: 4.6rem !default;
$mc-video-progress-height: 0.8rem !default;


.bc-player {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: inherit !important;

  &__wrapper {
    padding-bottom: 56.25%;
  }

  &__video {
    font-family: inherit;
    position: static;
    width: 100%;
    height: 100%;
  }

  &__screen {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($mc-color-dark, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 700ms ease-out;

    &--is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }
}


// CONTROL BAR
.vjs-control-bar {
  font-size: inherit !important;

  .vjs-mouse & {
    height: $mc-video-control-height !important;
    z-index: 10;

    .vjs-progress-control {
      .vjs-progress-holder,
      .vjs-marker {
        transform: translate3d(0, 0, 0);
        transform-origin: bottom center;
        transition: transform 150ms ease;
      }

      &:hover {
        .vjs-progress-holder,
        .vjs-marker {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .not-hover & {
    transform: translateY($mc-video-control-height + $mc-video-progress-height) !important;
  }
}


// BUTTONS
.vjs-button {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: 0;
    text-shadow: none !important;
  }

  &:before,
  &:focus:before,
  &:hover:before {
    outline: 0;
    text-shadow: none !important;
  }
}

.vjs-big-play-button {
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  background: transparent !important;

  &:focus {
    outline: 0;
  }

  &:before {
    content: svg-load("video-player-icons/big-play-button.svg");
  }

  .vjs-has-started & {
    display: none;
  }
}


// ICONS
.vjs-icon-placeholder {
  &:before {
    font-size: $mc-video-control-height / 2 + 1.6rem !important;
    line-height: inherit !important;
    color: $mc-color-light;

    .vjs-play-control & {
      content: svg-load("video-player-icons/play.svg") !important;
    }

    .vjs-play-control.vjs-playing & {
      content: svg-load("video-player-icons/pause.svg") !important;
    }

    .vjs-play-control.vjs-ended & {
      content: svg-load("video-player-icons/replay.svg") !important;
    }

    .vjs-vol-3 & {
      content: svg-load("video-player-icons/volume-3.svg") !important;
    }

    .vjs-vol-2 & {
      content: svg-load("video-player-icons/volume-2.svg") !important;
    }

    .vjs-vol-1 & {
      content: svg-load("video-player-icons/volume-1.svg") !important;
    }

    .vjs-vol-0 & {
      content: svg-load("video-player-icons/volume-0.svg") !important;
    }

    .video-annotations-menu & {
      top: 3px;
      content: svg-load("video-player-icons/annotations.svg") !important;
    }

    .vjs-subs-caps-button & {
      content: svg-load("video-player-icons/cc.svg") !important;
    }

    .vjs-quality-menu-button & {
      content: svg-load("video-player-icons/cog.svg") !important;
    }

    .vjs-fullscreen-control & {
      content: svg-load("video-player-icons/fullscreen.svg") !important;
    }

    .vjs-fullscreen .vjs-fullscreen-control & {
      content: svg-load("video-player-icons/fullscreen-exit.svg") !important;
    }
  }
}


// LABELS
.vjs-time-control,
.vjs-playback-rate .vjs-playback-rate-value {
  @include step(font-size, 4, !important);
  line-height: $mc-video-control-height !important;
}


// MENUS
.video-js {
  &.vjs-quality-menu .vjs-quality-menu-button-4K-flag:after,
  &.vjs-quality-menu .vjs-quality-menu-button-HD-flag:after {
    font-size: 0.6em;
    font-weight: 600;
    right: 7px;
    top: 7px;
    width: auto;
    height: auto;
    line-height: 1;
    border-radius: 3px;
    padding: 3px;
  }

  .vjs-current-time,
  .vjs-duration,
  .vjs-time-divider {
    padding: 0 0.3em;
  }

  .vjs-time-control {
    min-width: inherit;
    text-align: center;
  }

  .vjs-progress-holder .vjs-play-progress .vjs-time-tooltip,
  .vjs-progress-holder .vjs-tooltip-progress-bar:last-child .vjs-time-tooltip {
    display: none;
  }

  .vjs-time-tooltip {
    height: auto;
    padding: 8px;
    border-radius: 2px;
    transform: translate3d(0, 0, 0) scaleY(0.75);
  }

  // captialize subtitle options
  .vjs-captions-button,
  .vjs-subs-caps-button {
    .vjs-menu-item {
      text-transform: uppercase;
    }
  }

  .vjs-texttrack-settings {
    display: none;
  }

  .vjs-menu-button-popup .vjs-menu {
    left: -2.6em;

    .vjs-menu-content {
      padding-bottom: $mc-video-progress-height;
      font-family: inherit !important;
    }

    .vjs-menu-item {
      margin: 0;
      background-color: rgba($mc-color-dark, 0.8);
      border-radius: 0;
      text-shadow: none !important;
      // letter-spacing: inherit !important;
      // text-transform: capitalize;

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.vjs-selected {
        color: $mc-color-light;
        background-color: $mc-color-gray-300;

        &:hover {
          background-color: $mc-color-gray-300;
        }
      }

      &:hover {
        background-color: rgba($mc-color-dark, 0.8);
      }
    }
  }

  .vjs-overlay-buttons {
    position: absolute;
    z-index: 1;
    height: auto;
    bottom: 10px;
    left: 20px;
    text-align: left;

    .vjs-control {
      width: 35px;
      height: 35px;
      margin: 0;

      &:before {
        font-size: 35px;
        line-height: 1;
      }
    }
  }


  // PROGRESS BAR
  .vjs-progress-control .vjs-load-progress,
  .vjs-progress-control .vjs-progress-holder {
    background-color: rgba($mc-color-light, 0.3);
  }

  .vjs-progress-control .vjs-play-progress {
    background-color: $mc-color-primary;
  }

  .vjs-load-progress div {
    background-color: rgba($mc-color-light, 0.18);
  }

  .vjs-volume-level {
    background-color: rgba($mc-color-light, 0.9);
  }

  .vjs-control-bar {
    background: rgba($mc-color-dark, 0.4);
  }
}


// HIDE
.vjs-custom-endscreen-overlay {
  display: none !important;
}

.vjs-contextmenu-ui-menu {
  display: none;
}
