.c-button,
.mc-c-btn {
  @include step(padding-top, 3);
  @include step(padding-right, 5);
  @include step(padding-bottom, 3);
  @include step(padding-left, 5);
  @include step(font-size, 3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $mc-color-light;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 4px;
  transition:
    background 250ms ease,
    box-shadow 250ms ease,
    opacity 250ms ease;
  vertical-align: middle;

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Future-proof disabling of clicks on `<a>` elements
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
}
