// Inverted styles
.mc-invert {
  .c-button,
  .mc-c-btn {
    &--link {
      color: $mc-color-dark;

      span {
        &:after {
          background: $mc-color-dark;
        }
      }
    }

    &--applepay {
      border: 1px solid #000;
    }
  }
}
