.c-button,
.mc-c-btn {
  background-color: $mc-color-primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.144em;
  text-transform: uppercase;
  border-radius: 4px;
  color: $mc-color-light;
  transition: background 250ms ease;

  &:hover {
    background: $mc-color-primary-hover;
    // Needed to override old previously defined
    // hover color in masterclass repo
    color: $mc-color-light;
  }

  &:active {
    background: $mc-color-primary-active;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: rgba($mc-color-light, 0.5);

    &:hover {
      background: $mc-color-primary;
    }

    &:active {
      background: $mc-color-primary;
    }
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Future-proof disabling of clicks on `<a>` elements
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
}
