@mixin mc-button {
  @include step(padding-top, 3);
  @include step(padding-right, 5);
  @include step(padding-bottom, 3);
  @include step(padding-left, 5);
  @include step(font-size, 3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--mc-color-light);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: $default-radius;
  transition:
    background 250ms ease,
    box-shadow 250ms ease,
    opacity 250ms ease;
  vertical-align: middle;

  // needed to correct the
  // input type='submit' styles
  border: 0;
  font-family: $mc-font-default;

  &:focus,
  &.focus {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  // Variations

  &--small {
    @include step(padding-top, 1);
    @include step(padding-bottom, 1);
    @include step(padding-left, 3);
    @include step(padding-right, 3);
  }

  &--full-width {
    width: 100%;
  }

  &--with-icon {
    display: flex;
    align-self: center;
    justify-content: center;

    span {
      margin-left: 1.3rem;
    }
  }

  &--loading {
    position: relative;
    pointer-events: none;

    .c-button__content {
      opacity: 0;
      display: inherit;
    }

    .c-button__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1em;

      @include spin;
    }
  }

  &--primary {
    background-color: var(--mc-theme-primary);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background: var(--mc-theme-primary-hover);
        // Needed to override old previously defined
        // hover color in masterclass repo
        color: var(--mc-color-light);
      }

      &:active {
        background: var(--mc-theme-primary-active);
      }
    }
  }

  &--secondary {
    background: var(--mc-theme-secondary);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background: var(--mc-theme-secondary-hover);
      }

      &:active {
        background: var(--mc-theme-secondary-active);
      }
    }
  }

  &--tertiary {
    background: none;
    box-shadow: inset 0 0 0 1px rgba(var(--mc-theme-border-contrast), 0.5);
    color: var(--mc-theme-text);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background: none;
        box-shadow: inset 0 0 0 1px var(--mc-theme-border-contrast);
      }

      &:active {
        background: none;
        box-shadow: inset 0 0 0 1px rgba(var(--mc-theme-border-contrast), 0.5);
      }
    }
  }

  &--link {
    background: none;
    color: var(--mc-theme-text);

    span {
      position: relative;

      &:after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        pointer-events: none;
        background: var(--mc-theme-background);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
      }
    }

    &:not(:disabled):not(.disabled) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &--symmetrical {
    @include step(padding, 3);

    /* stylelint-disable-next-line */
    &.c-button--small {
      @include step(padding, 1);
    }
  }

  &--google {
    background-color: var(--mc-color-google);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-google-hover);
      }

      &:active {
        background-color: var(--mc-color-google);
      }
    }
  }

  &--facebook {
    background-color: var(--mc-color-facebook);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-facebook-hover);
      }

      &:active {
        background-color: var(--mc-color-facebook);
      }
    }
  }

  &--twitter {
    background-color: var(--mc-color-twitter);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-twitter-hover);
      }

      &:active {
        background-color: var(--mc-color-twitter);
      }
    }
  }

  &--pinterest {
    background-color: var(--mc-color-pinterest);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-pinterest-hover);
      }

      &:active {
        background-color: var(--mc-color-pinterest);
      }
    }
  }

  &--paypal {
    background-color: var(--mc-color-paypal);
    color: var(--mc-color-dark);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-paypal-hover);
        color: var(--mc-color-dark);
      }

      &:active {
        background-color: var(--mc-color-paypal);
        color: var(--mc-color-dark);
      }
    }
  }

  &--success {
    background-color: var(--mc-color-success);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-success-hover);
      }

      &:active {
        background-color: var(--mc-color-success);
      }
    }
  }

  &--applepay {
    background-color: var(--mc-color-applepay);
    color: var(--mc-color-dark);

    &:not(:disabled):not(.disabled) {
      &:hover {
        background-color: var(--mc-color-applepay-hover);
        color: var(--mc-color-dark);
      }

      &:active {
        background-color: var(--mc-color-applepay);
        color: var(--mc-color-dark);
      }
    }

    .mc-theme-light &,
    .mc-invert & {
      box-shadow: inset 0 0 0 1px var(--mc-color-dark);
    }
  }
}

.c-button {
  @include mc-button;
}
