.mc-btn {
  display: inline-flex;
  vertical-align: middle;
  background: $mc-color-primary;
  padding: 16px 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.230769231;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  transition: background 250ms ease;

  &:hover {
    background: $mc-color-primary-hover;
  }

  &:active {
    background: $mc-color-primary-active;
  }

  // Alternate sizing
  &--small {
    padding: 12px 16px;
  }
}
