// Abstracts
@import "./abstract/variables";
@import "./abstract/placeholders/flex";
@import "./abstract/mixins/animations";
@import "./abstract/mixins/breakpoints";
@import "./abstract/mixins/buttons";
@import "./abstract/mixins/gradient";
@import "./abstract/mixins/box-shadow";
@import "./abstract/mixins/hover";
@import "./abstract/mixins/transition";
@import "./abstract/functions";
@import "./abstract/mixins/ratios";

// Base
@import "./base/typography";
@import "./base/base";

// Components
@import "./components/input";
@import "./components/rounded-box";
@import "./components/c-button";
@import "./components/radio-input";
@import "./components/modal";
@import "./components/modal-header";
@import "./components/footer";
@import "./components/tile";
@import "./components/overlay-check";
@import "./components/header";
@import "./components/navbar-menu";
@import "./components/mobile-nav-button";
@import "./components/badge";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba($black, 0.01) 0 0 1px;
  text-size-adjust: 100%;
}
