.mc-animation {
  &--animating {
    z-index: 1;
  }

  &--zoom {
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.29, 1.185, 1, 1);

    &.mc-animation--animating {
      transform: scale(1.05);
    }
  }

  &--ken-burns {
    overflow: hidden;

    > * {
      transform: scale(1);
      transition: transform 8s ease;
    }

    &.mc-animation--animating > * {
      transform: scale(1.1);
      transition: transform 15s cubic-bezier(0.02, 0.075, 0.42, 1);
    }
  }

  &--lift {
    transition: transform 0.75s cubic-bezier(0.29, 1.185, 1, 1);

    &.mc-animation--animating {
      transform: translateY(-0.75em);
    }
  }

  &--show {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 200ms ease;

    &.mc-animation--animating {
      opacity: 1;
      visibility: visible;
      pointer-events: none;
    }
  }

  &--delayed-show {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 200ms ease, visibility 0ms 200ms;

    &.mc-animation--animating {
      opacity: 1;
      visibility: visible;
      pointer-events: none;
      transition: opacity 200ms ease 500ms, visibility 0ms 200ms;
    }
  }

  &--hide {
    opacity: 1;
    transition: opacity 200ms ease;

    &.mc-animation--animating {
      opacity: 0;
    }
  }

  &--delayed-hide {
    opacity: 1;
    transition: opacity 200ms ease 500ms;

    &.mc-animation--animating {
      opacity: 0;
      transition: opacity 200ms ease;
    }
  }
}
