.mc-input-radio {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: $mc-color-gray-300;
    cursor: pointer;
    margin-right: 16px;

    // "Selected" dot
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: $mc-color-light;
      transform: scale(0.5);
      opacity: 0;
      transition:
        opacity 250ms ease,
        transform 250ms ease;
    }
  }
}
