@at-root .mc--invert .mc-input-radio {
  .mc-input-radio {
    &__button {
      background: rgba($mc-color-tertiary, 0.2);

      &:after {
        background: $mc-color-dark;
      }
    }
  }
}

.mc-input-radio--inline {
  display: inline-flex;
  margin-right: 40px;
}
