.badge {
  display: inline-block;
  vertical-align: middle;
  background: $red;
  font-size: 12px;
  letter-spacing: 0.083333em;
  color: $mc-light;
  padding: 0.286em 0.454em;
  border-radius: 3px;
  line-height: 1;
}
