#mc-footer {
  background: #000;
  border-top: 2px solid rgba(#fff, 0.2);
  // margin-top: 64px; holding off for now..
  // Better to have footer overlaid than hacky fix
  padding: 1em;
  font-size: 0.95em;
  clear: both;
  text-align: center;

  .mc-container { padding: 1em 0; }

  .copyright {
    font-size: 0.87em;
    margin-bottom: -1em;
    color: rgba(#fff, 0.2);
  }

  // desired width / 1.513333333
  #logo-footer {
    border-bottom: 1px solid rgba(#fff, 0.2);
    padding: 1.5em 1em 2.5em;
    width: 135px; height: 128px;
  }

  #ssl-badge {
    display: none;
    width: 150px;
  }

  .nav-footer { padding: 2em 0em; }

  .nav-footer-items {
    margin: 0 auto;
    max-width: 350px;

    a { color: #fff; }
  }

  .nav-footer-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.87em;
    text-transform: uppercase;
    margin: 0.75em 0;
    padding: 0 7px 0 8px;
  }
}

@media (min-width: $mc-bp-md) {
  #mc-footer {
    .mc-container { padding: 1em; }
  }
}

@media (min-width: $mc-bp-lg) {
  #mc-footer {
    padding: 3em 1em;

    #logo-footer,
    .nav-footer,
    #ssl-badge {
      display: inline-block;
      vertical-align: middle;
    }

    #logo-footer {
      width: 97px; height: 64px;
      border-bottom: 0;
      padding: 0;
    }

    .nav-footer {
      border: 1px solid rgba(#fff, 0.2);
      margin: 0 2.5em;
      padding: 0 2.5em;
      border-top: 0; border-bottom: 0;
    }

    #ssl-badge { display: inline-block; }
  }
}

@media (min-width: $mc-bp-xl) {
  #mc-footer {
    .nav-footer-items {
      max-width: none;
    }

    .nav-footer {
      margin: 0 2em;
      padding: 2em 1em;
    }
  }
}
