.mc-accordian {
  display: flex;
  width: 100%;

  &__item {
    position: relative;
    flex: 1;
    margin: 0 12px;
    min-height: 512px;
    overflow: hidden;

    cursor: pointer;
    transition: flex-grow 500ms ease;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      flex-grow: 10;

      &:after {
        opacity: 0;
      }
    }
  }
}
