// When the label shouldn't animate
// or be shown
.mc-form-input--no-label {
  .mc-form-input {
    &__label { display: none; }

    &__input {
      padding: $input-padding;

      input::placeholder {
        color: $mc-color-gray-500;
        opacity: 1;
      }
    }
  }
}

// Error states
.mc-form-input--error {
  background: none;
  border-color: $mc-color-primary;

  &:hover {
    border-color: $mc-color-primary-hover;
  }

  // Override default focus state
  // with chained css selector
  &.mc-form-input--focus,
  &.mc-form-input--modified {
    border-color: $mc-color-primary-active;

    .mc-form-input__label {
      color: $mc-color-primary;
    }
  }

  .mc-form-input {
    &__input {
      input::placeholder {
        color: $mc-color-gray-600;
      }
    }
  }
}

// disabled state
.mc-form-input--disabled {
  background: $mc-color-gray-100;
  border-color: $mc-color-gray-100;

  // disable cursor
  * { cursor: not-allowed; }

  &:hover {
    border-color: $mc-color-gray-100;
  }
}

// Inverted styles
@at-root .mc--invert .mc-form-input {
  border: 1px solid $mc-color-gray-600;
  background: transparent;

  &.mc-form-input--focus {
    border-color: $mc-color-gray-400;
    color: $mc-color-gray-100;
  }

  .mc-form-input {
    &__input {
      input {
        color: $mc-color-gray-200;
      }
    }
  }

  &.mc-form-input--disabled {
    background: $mc-color-gray-600;

    &:hover {
      border-color: $mc-color-gray-600;
    }
  }
}
