// When the label shouldn't animate
// or be shown
.mc-form-input--no-label {
  .mc-form-input {
    &__label { display: none; }

    &__input {
      padding: $input-padding;

      input::placeholder {
        color: $mc-color-gray-500;
        opacity: 1;
      }
    }
  }
}

// Error states
.mc-form-input--error {
  background: none;
  border-color: $mc-color-primary;

  &:hover {
    border-color: $mc-color-primary-hover;
  }

  // Override default focus state
  // with chained css selector
  &.mc-form-input--focus {
    border-color: $mc-color-primary-active;
  }

  .mc-form-input {
    &__label {
      color: $mc-color-primary;
    }

    &__input {
      input::placeholder {
        color: $mc-color-gray-600;
      }
    }
  }
}


// Inverted styles
.mc-form-input--invert {
  border: 1px solid $mc-color-gray-300;
  background: $mc-color-gray-200;

  &.mc-form-input--focus {
    color: $mc-color-gray-600;
    border-color: $mc-color-gray-400;
  }

  .mc-form-input {
    &__input {
      input {
        color: $mc-color-gray-600;
      }
    }
  }

  &.mc-form-input--disabled {
    background: $mc-color-gray-100;
    border-color: $mc-color-gray-100;

    &:hover {
      border-color: $mc-color-gray-100;
    }
  }
}

// disabled state
.mc-form-input--disabled {
  background: $mc-color-gray-600;
  cursor: not-allowed;

  &:hover {
    border-color: $mc-color-gray-600;
  }

  input {
    cursor: not-allowed;
  }
}
