@import 'mc-sass-lib/src/stylesheets/mc-sass-lib.scss';
@import '@masterclass/mastersass/src/masterSass.scss';
@import './abstract/variables';
@import './abstract/placeholders/flex';
@import './abstract/mixins/animations';

// components
@import './components/input';
@import './components/rounded-box';
@import './components/c-button';
@import './components/radio-input';
@import './components/modal';
@import './components/modal-header';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba($black, .01) 0 0 1px;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
