$textarea-padding: 8px !default;
$scrollbarWidth: 7px !default; // Browser scrollbar width

.mc-form-textarea {
  position: relative;
  width: 100%;
  background: $mc-color-dark;
  border-color: $mc-color-gray-300;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  transition: border 250ms ease;
  // fixes browser scrollbar overflowing on border
  overflow: hidden;

  // Reset
  &__textarea {
    display: block;
    font-family: $mc-font-default;
    font-size: inherit;
    background: none;
    border: 0;
    width: 100%;
    height: 100%;
    min-height: 110px;
    resize: vertical;
    outline: none;
    padding: $textarea-padding;
    transition: padding 250ms ease;

    &::placeholder {
      color: $mc-color-gray-400;
      font-size: 15px;
      opacity: 0;
      line-height: 1.5;
      letter-spacing: 0.5px;
      transition: opacity 150ms ease 0ms;
    }
  }

  &__label {
    position: absolute;
    top: 1px; // border offset
    left: $textarea-padding;
    color: $mc-color-gray-500;
    transform: translateY(8px);
    transition:
      font 320ms ease 100ms,
      transform 320ms ease 100ms,
      opacity 320ms ease 100ms;
  }

  // States
  &:hover {
    border-color: $mc-color-gray-400;
  }

  &--focus,
  &--modified {
    .mc-form-textarea {
      &__textarea {
        padding: 20px $textarea-padding $textarea-padding;

        &::placeholder {
          opacity: 1;
          transition: opacity 250ms ease 100ms;
        }
      }

      &__label {
        font-size: 11px;
        transform: translateY(4px);
        width: calc(100% - (2 * #{$textarea-padding}) - #{$scrollbarWidth});
        transition:
          font 320ms ease 0ms,
          transform 320ms ease 0ms;
      }
    }
  }

  &--focus {
    border-color: $mc-color-gray-400;
  }

  &--modified {
    .mc-form-textarea__textarea {
      color: $mc-color-light;
    }
  }
}
