.modal {
  align-items: center;
  display: flex;
  justify-content: center;

  @include fade-in-background-animation(
    rgba($mc-dark, 0),
    rgba($mc-dark, 0.8)
  );

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
  }

  background-color: rgba($mc-dark, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 999;

  &__container {
    max-width: $modal-width;
    flex: 1;
    margin: auto;

    @include media-breakpoint-down(sm) {
      max-width: calc(100% - 2.4rem);
      margin: 0 auto;
    }
  }

  &__rounded-box {
    padding: 3.6rem 4.8rem;
    position: relative;
    margin: 5rem 0;

    @include media-breakpoint-down(sm) {
      padding: 3.6rem 1.6rem 1.6rem;
      margin: 1.2rem 0;
    }
  }

  &__close-icon {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    padding: 1rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__inner-close-icon {
    cursor: pointer;
    display: none;

    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    padding: 1rem;

    svg {
      opacity: 0.3;
    }

    path {
      fill: $mc-dark;
      stroke: $mc-dark;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: rgba($mc-gray-200, 0.8);
  }

  &__body--open {
    overflow: hidden;
    height: 100vh;
  }
}
