html {
  font-size: 62.5%;
}

body {
  background: $mc-color-background;
  font: 400 16px/1.5 $mc-font-default;
  color: $mc-color-text;
  letter-spacing: 0.015em;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba($mc-color-gray-500, 0.3);
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.mc-text-link {
  color: $mc-color-primary;

  &:hover {
    color: $mc-color-primary-hover;
  }

  &:active {
    color: $mc-color-primary-active;
  }
}

// Big "display" text
.mc-text-d1 {
  font-size: 24px;
  letter-spacing: 0.04em;
  font-weight: 700;
}

.mc-text-d2 {
  font-size: 20px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}

.mc-text-d3 {
  font-size: 16px;
  letter-spacing: 0.24em;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

// html header equivalents
.mc-text-h1,
.mc-text-h2,
.mc-text-h3,
.mc-text-h4,
.mc-text-h5 {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.04em;
}

.mc-text-h1 {
  font-size: 28px;
}

.mc-text-h2 {
  font-size: 24px;
}

.mc-text-h3 {
  font-size: 20px;
}

.mc-text-h4 {
  font-size: 16px;
  letter-spacing: 0.06em;
}

.mc-text-h5 {
  font-size: 16px;
  letter-spacing: 0.06em;
}

// 'Readable' for article pages
// intro as placeholder for intro styles with
// extra margins / treatment in the future.
.mc-text-intro,
.mc-text-readable {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-weight: 400;
}

.mc-text-legal {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

// responsive
@media (min-width: $mc-bp-sm) {
  body { font-size: 16px; }

  .mc-text-d1 { font-size: 32px; }
  .mc-text-d2 { font-size: 24px; }

  .mc-text-h1 { font-size: 32px; }
  .mc-text-h2 { font-size: 28px; }
  .mc-text-h3 { font-size: 24px; }
  .mc-text-h4 { font-size: 20px; }
  .mc-text-h5 { font-size: 16px; }
}

@media (min-width: $mc-bp-lg) {
  .mc-text-d1 { font-size: 48px; }
  .mc-text-d2 { font-size: 32px; }
  .mc-text-d3 { font-size: 20px; }

  .mc-text-h1 { font-size: 48px; }
  .mc-text-h2 { font-size: 32px; }
  .mc-text-h3 { font-size: 28px; }
  .mc-text-h4 { font-size: 24px; }
  .mc-text-h5 { font-size: 20px; }
}
