html {
  font-size: $mc-step-base * 1px;
}

body {
  @include step(font-size, 4);
  font-weight: 400;
  font-family: $mc-font-default;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  letter-spacing: 0.04em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba($mc-color-gray-500, 0.3);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


.mc-text {
  &-h1 { @include step(font-size, 9); }
  &-h2 { @include step(font-size, 8); }
  &-h3 { @include step(font-size, 7); }
  &-h4 { @include step(font-size, 6); }
  &-h5 { @include step(font-size, 5); }
  &-h6 { @include step(font-size, 4); }
  &-h7 { @include step(font-size, 3.5); }
  &-h8 { @include step(font-size, 3); }

  &-h1,
  &-h2,
  &-h3,
  &-h4,
  &-h5,
  &-h6,
  &-h7,
  &-h8 {
    font-weight: 700;
    line-height: 1.25;
  }

  &-large {
    @include step(font-size, 5);
    line-height: 1.7;
  }

  &-small {
    @include step(font-size, 3.5);
    line-height: 1.25;
  }

  &-x-small {
    @include step(font-size, 3);
    line-height: 1.25;
  }

  &-link {
    color: $mc-color-primary;

    &:hover {
      color: $mc-color-primary-hover;
    }

    &:active {
      color: $mc-color-primary-active;
    }
  }
}
