$base: 10 !default;
$scale: 4 !default;
$max: 7 !default;

@function calc-step($step, $decay) {
  $times: ceil($step / $max);
  $level: if($step > $max, $step - $max + 1, $step);
  $factor: if($times > 1, $scale, 1);
  $less: (max($step - $scale, 0) * $decay) / $base;
  $value: $level * $scale * $factor / $base;

  @return ($value - $less) * 1rem;
}

@mixin step($attribute, $value) {
  #{$attribute}: calc-step($value, 2);

  @media (min-width: $mc-bp-md) {
    #{$attribute}: calc-step($value, 1);
  }

  @media (min-width: $mc-bp-lg) {
    #{$attribute}: calc-step($value, 0);
  }
}

.mc-beta {
  font-size: $base * 1px;

  body {
    @include step(font-size, 4);
    line-height: 1.5em;
    letter-spacing: 0.04em;
  }

  .mc-text--uppercase {
    letter-spacing: 0.12em;
  }
}

.mcb-text {
  &-d1 { @include step(font-size, 11); }
  &-d2 { @include step(font-size, 10); }

  &-h1 { @include step(font-size, 9); }
  &-h2 { @include step(font-size, 8); }
  &-h3 { @include step(font-size, 7); }
  &-h4 { @include step(font-size, 6); }
  &-h5 { @include step(font-size, 5); }
  &-h6 { @include step(font-size, 4); }
  &-h7 { @include step(font-size, 3.5); }
  &-h8 { @include step(font-size, 3); }

  &-d1,
  &-d2,
  &-d3,
  &-h1,
  &-h2,
  &-h3,
  &-h4,
  &-h5,
  &-h6,
  &-h7,
  &-h8 {
    font-weight: 600;
    line-height: 1.25em;
  }

  &-large {
    @include step(font-size, 5);
    line-height: 1.5em;
  }

  &-small {
    @include step(font-size, 3.5);
    line-height: 1.5em;
  }
}


.mcb-space {
  @for $i from 1 to 12 {
    &-#{$i} { @include step(margin-bottom, $i); }
  }
}
