// stylelint-disable declaration-no-important
.mc-text {
  // Transformation
  &--uppercase {
    letter-spacing: 0.12em;
    text-transform: uppercase !important;
  }
  &--lowercase { text-transform: lowercase !important; }
  &--capitalize { text-transform: capitalize !important; }

  // Weight / opacity
  &--bold { font-weight: 700 !important; }
  &--italic { font-style: italic !important; }
  &--normal { font-weight: 400 !important; }
  &--light { font-weight: 300 !important; }
  &--muted { opacity: 0.5 !important; }
  &--silenced { opacity: 0.25 !important; }

  // Treatments
  &--airy {
    font-weight: 400 !important;
    letter-spacing: 0.24em !important;
    text-transform: uppercase !important;
  }

  // Colors
  &--twitter { color: $mc-color-twitter; }
  &--facebook { color: $mc-color-facebook; }

  // Misc
  &--monospace { font-family: monospace !important; }
  &--nowrap { white-space: nowrap; }
  &--underline { text-decoration: underline; }
}

.mc-invert { color: $mc-color-dark; }


// Responsive
@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .mc-text#{$infix}--left   { text-align: left !important; }
    .mc-text#{$infix}--right  { text-align: right !important; }
    .mc-text#{$infix}--center { text-align: center !important; }
  }
}
