// stylelint-disable declaration-no-important
.mc-text {
  // Transformation
  &--uppercase {
    letter-spacing: 0.12em;
    text-transform: uppercase !important;
  }
  &--lowercase { text-transform: lowercase !important; }
  &--capitalize { text-transform: capitalize !important; }

  // Weight / opacity
  &--bold { font-weight: 700 !important; }
  &--italic { font-style: italic !important; }
  &--normal { font-weight: 400 !important; }
  &--light { font-weight: 300 !important; }
  &--hinted { opacity: 0.8 !important; }
  &--muted { opacity: 0.5 !important; }
  &--silenced { opacity: 0.3 !important; }

  // Treatments
  &--airy {
    font-weight: 400 !important;
    letter-spacing: 0.24em !important;
    text-transform: uppercase !important;
  }

  &--1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // Default body / anything not defined
    height: #{$mc-lh-md}em;

    // Headings
    &[class^="mc-text-h"] {
      height: #{$mc-lh-sm}em;
    }

    // Small text
    &.mc-text-small {
      height: #{$mc-lh-sm}em;
    }

    // Large text
    &.mc-text-large {
      height: #{$mc-lh-lg}em;
    }
  }

  &--2-lines {
    overflow: hidden;

    // Default body / anything not defined
    height: #{2 * $mc-lh-md}em;

    // Headings
    &[class^="mc-text-h"] {
      height: #{2 * $mc-lh-sm}em;
    }

    // Small text
    &.mc-text-small {
      height: #{2 * $mc-lh-sm}em;
    }

    // Large text
    &.mc-text-large {
      height: #{2 * $mc-lh-lg}em;
    }
  }

  &--3-lines {
    overflow: hidden;

    // Default body / anything not defined
    height: #{3 * $mc-lh-md}em;

    // Headings
    &[class^="mc-text-h"] {
      height: #{3 * $mc-lh-sm}em;
    }

    // Small text
    &.mc-text-small {
      height: #{3 * $mc-lh-sm}em;
    }

    // Large text
    &.mc-text-large {
      height: #{3 * $mc-lh-lg}em;
    }
  }

  // Colors
  &--error { color: $mc-color-error; }

  // Links
  &--link,
  &--naked-link:hover,
  .mc-text--naked-link-parent:hover &--naked-link {
    text-decoration: underline;
    cursor: pointer;
  }

  // Misc
  &--monospace { font-family: monospace !important; }
  &--nowrap { white-space: nowrap; }
}

.mc-invert { color: $mc-color-dark; }


// Responsive
@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .mc-text#{$infix}--left   { text-align: left !important; }
    .mc-text#{$infix}--right  { text-align: right !important; }
    .mc-text#{$infix}--center { text-align: center !important; }
  }
}
