html {
  font-size: 62.5%;
}

body {
  font-family: $mc-font-default;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.015em;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

// Big "display" text
.mc-text-d1 {
  font-size: 48px;
  letter-spacing: 0.04em;
  font-weight: 700;
}

.mc-text-d2 {
  font-size: 32px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}

// html header equivalents
.mc-text-h1,
.mc-text-h2,
.mc-text-h3,
.mc-text-h4,
.mc-text-h5 {
  font-weight: 700;
  line-height: 1.25;
}

.mc-text-h1 {
  font-size: 32px;
  letter-spacing: 0.04em;
}

.mc-text-h2 {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.mc-text-h3 {
  font-size: 20px;
  letter-spacing: 0.24em;
  font-weight: 400;
  text-transform: uppercase;
}

.mc-text-h4 {
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}

.mc-text-h5 {
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.mc-text-intro {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.025em;
  font-weight: 400;
}

.mc-text-legal {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
