html {
  font-size: 62.5%;
}

body {
  font-family: $mc-font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-variant-ligatures: none;
  color: #777;
  text-rendering: optimizeLegibility;
  text-shadow: rgba($mc-dark, 0.01) 0 0 1px;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

// Big hero text
.mc-text-display1 {
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #fff;
}

.mc-text-display2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
}

// h1 - 4 equivalents
.mc-text-h1,
.mc-text-h2,
.mc-text-h3,
.mc-text-h4,
.mc-text-h5 {
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}

.mc-text-h1 {
  font-size: 32px;
  letter-spacing: 0.04em;
}

.mc-text-h2 {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.mc-text-h3 {
  font-size: 20px;
  letter-spacing: 0.24em;
  font-weight: 400;
  text-transform: uppercase;
}

.mc-text-h4 {
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}

.mc-text-h5 {
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.mc-text-p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #fff;
}

.mc-text-p2 {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.015em;
  font-weight: 400;
  color: #fff;
}

.mc-text-legal {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #fff;
}
