html {
  // For overflowing tile rows
  overflow-x: hidden;
}

body {
  background: var(--mc-theme-background);
  color: var(--mc-theme-text);
}

// We want this behavior by default.
a,
a:hover {
  text-decoration: none;
}
