html {
  // For overflowing tile rows
  overflow-x: hidden;
}

body {
  background: $mc-color-background;
  color: $mc-color-text;
}

// We want this behavior by default.
a,
a:hover {
  text-decoration: none;
}


.mc-header {
  a,
  a:hover {
    text-decoration: none;
  }
}
