.mc-input-checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &__fauxbox {
    position: relative;
    background: $mc-color-gray-300;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0.15em 16px 0 0;
    padding: 5px;
    flex-shrink: 0;
    transition: background 250ms ease;

    // The check
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 8px;
      bottom: 5px;
      width: 0;
      height: 2px;
      background: $mc-color-light;
      border-radius: 3px;
      transform-origin: center left;
      transition: width 200ms ease;
    }

    &:before {
      transform: rotate(45deg);
      left: 4px;
      bottom: 9px;
      transition-delay: 180ms;
    }

    &:after {
      transform: rotate(-45deg);
      transition-delay: 0ms;
    }
  }

  // Actual input that's hidden
  // Keeps checkbox accessible for screen readers
  &__realbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer; // override browser "default" cursor
  }
}
