// Inverted colors
.mc-input-checkbox--invert {
  .mc-input-checkbox {
    &__fauxbox {
      background: $mc-color-gray-300;
    }
  }

  // Inverted hover state
  &.mc-input-checkbox:hover,
  &.mc-input-checkbox--hover {
    .mc-input-checkbox__fauxbox {
      background: $mc-color-gray-400;
    }
  }

  // Inverted and checked
  &.mc-input-checkbox--checked {
    .mc-input-checkbox__fauxbox {
      background: $mc-color-primary;
    }

    &:hover,
    &--hover {
      .mc-input-checkbox__fauxbox {
        background: $mc-color-primary-hover;
      }
    }
  }
}
