.mc-input-checkbox {
  // -----------
  // Hover state
  // -----------
  &:hover,
  &--hover {
    // default
    .mc-input-checkbox__fauxbox {
      background: $mc-color-gray-400;
    }
  }

  // -------------
  // Checked state
  // -------------
  &--checked {
    .mc-input-checkbox__fauxbox {
      background: $mc-color-primary;

      &:before {
        width: 6px;
        transition-delay: 0ms;
      }

      &:after {
        width: 11px;
        transition-delay: 180ms;
      }
    }

    // checked hover state
    &.mc-input-checkbox--hover,
    &.mc-input-checkbox:hover {
      .mc-input-checkbox__fauxbox {
        background: $mc-color-primary-hover;
      }
    }
  }
}
