@import '../src/styles/libraries/libraries';
@import '../src/styles/index';

html {
  font-size: 10px;
}

body {
  // overwrite mc-sass-lib default body black background
  background-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
