@import '../src/styles/libraries/libraries';
@import '../src/styles/index';

body {
  background: $black;
}

pre {
  font-family: monospace;
}

.hljs {
  border-radius: 6px;
}

.example--definition-name {
  font-weight: 900;
}

.example--definition-type {
  font-family: monospace;
}

.example--definition {
  margin-bottom: 2em;
}

.example--render {
  margin-bottom: 1em;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 3px;
}

.example--code {
  padding: 10px;
  color: #000;
  font-family: monospace;
  font-size: 0.9em;
}

.example--table {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-collapse: collapse;
  text-align: left;

  tbody {
    tr {
      border-top: 1px solid rgba(255, 255, 255, 0.08);
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }

    tr:nth-child(2n +1) {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  th {
    font-weight: 900;
  }

  th, td {
    padding: 5px 10px;
  }
}

.example__filler {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: -1;
}
