$mc-carousel-centered-padding: 100px !default;
$scrollbar-max-width: 17px !default;

.mc-carousel {
  position: relative;
  pointer-events: auto;
  z-index: 0;
  transition: z-index 0ms 1s;

  // Make sure that when you hover on a carousel
  // row, the hover effects are z-indexed correctly
  // (they have to be set higher here to work)
  &:hover {
    z-index: 1;
    transition: z-index 0ms 0ms;
  }

  // We need to override slick sliders default scss
  // so that we can have cool hover effects and not cut off
  // tiles that overflow the slick container
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
  }

  // Align carousel items to left
  .slick-track {
    margin: 0;
  }

  .slick-active {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    margin: -999px calc(50% - 50vw + #{$scrollbar-max-width / 2});
    padding: 999px calc(50vw - 50% - #{$scrollbar-max-width / 2});
    overflow: hidden;
    pointer-events: none;
  }

  // The padding hack above that allows us to have
  // overflowing content on hover in tiles
  // without affecting the flow of the document
  // causes issues when carousels are stacked on
  // one another.
  // Ask @jones and @stephen how they figufed this out.
  &__forced-spacing {
    height: 1px;
    margin-bottom: -1px;
  }

  .slick-dots {
    /* stylelint-disable */
    display: flex !important;
    /* stylelint-enable */
    justify-content: center;
    padding: $grid-gutter-width/2 0;

    @media only screen and (min-width: $mc-bp-sm) {
      padding: $grid-gutter-width-sm/2 0;
    }

    @media only screen and (min-width: $mc-bp-md) {
      padding: $grid-gutter-width-md/2 0;
    }

    @media only screen and (min-width: $mc-bp-lg) {
      padding: $grid-gutter-width-lg/2 0;
    }

    @media only screen and (min-width: $mc-bp-xl) {
      padding: $grid-gutter-width-xl/2 0;
    }

    li {
      line-height: 0;
    }

    button {
      background: $mc-color-gray-400;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      margin: 0 4px;
      overflow: hidden;
      text-indent: 9999em;
      cursor: pointer;
      transition: background 250ms ease;
      outline: 0;

      &:hover {
        background: $mc-color-gray-300;
      }
    }

    .slick-active button {
      background: $mc-color-gray-500;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background: $mc-color-gray-200;
    color: $mc-color-gray-500;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
    transition:
      background 200ms ease,
      color 200ms ease,
      opacity 200ms ease;


    &:not(.slick-disabled):hover {
      background: $mc-color-gray-300;
      color: $mc-color-light;

      .mc-carousel__arrow-text {
        opacity: 1;
      }
    }

    &--next {
      // right: $grid-gutter-width/2;
      right: 50%;
      transform: translate(50%, -50%);

      @media (min-width: $mc-bp-xl) {
        // right: $grid-gutter-width-xl/2;
      }
    }

    &--prev {
      // left: $grid-gutter-width/2;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $mc-bp-xl) {
        // left: $grid-gutter-width-xl/2;
      }
    }

    // Disabled state for when you can't
    // advance the slide or "go back" anymore
    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  [tabindex]:focus {
    outline: none;
  }
}
