.mc-carousel {
  &--highlight-active {
    .slick-list {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &.slick-current {
          opacity: 1;
        }
      }
    }
  }

  &--highlight-hover {
    .slick-list:hover {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
