.mc-carousel {
  &--overflow {
    .slick-slide {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--peek {
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $grid-gutter-width * 5;
      height: 100%;
      background:
        linear-gradient(
          to right,
          rgba($mc-color-dark, 1) 0,
          rgba($mc-color-dark, 0) 100%
        ) center no-repeat;
      z-index: 1;
      opacity: 1;
      transition: 0.3s ease opacity;
    }

    &.mc-carousel--index-0 {
      &:before {
        opacity: 0;
        pointer-events: 0;
      }
    }

    &:after {
      left: auto;
      right: 0;
      background:
        linear-gradient(
          to left,
          rgba($mc-color-dark, 1) 0,
          rgba($mc-color-dark, 0) 100%
        ) center no-repeat;
    }

    .slick-list {
      width: 75%;

      @media only screen and (min-width: $mc-bp-md) {
        width: 80%;
      }

      @media only screen and (min-width: $mc-bp-lg) {
        width: 85%;
      }
    }

    .slick-active + .slick-slide {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--highlight-active {
    .slick-list {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &.slick-current {
          opacity: 1;
        }
      }
    }
  }

  &--highlight-hover {
    .slick-list:hover {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
