.mc-carousel {
  &--overflow {
    .slick-slide {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--peek {
    .mc-carousel__slider-container {
      padding-right: 25%;

      @media only screen and (min-width: $mc-bp-md) {
        padding-right: 20%;
      }

      @media only screen and (min-width: $mc-bp-lg) {
        padding-right: 15%;
      }
    }
  }

  &--peek,
  &--variable-width {
    .mc-carousel__slider-container {
      overflow: hidden;
    }

    .slick-slide {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--highlight-active {
    .slick-list {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &.slick-current {
          opacity: 1;
        }
      }
    }
  }

  &--highlight-hover {
    .slick-list:hover {
      .slick-active {
        opacity: 0.5;
        transition: opacity 250ms ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
