.mc-form-element {
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 1px $mc-color-gray-200;
  background: $mc-color-gray-100;
  border-radius: 4px;
  width: 100%;
  cursor: text;
  transition:
    color 200ms ease,
    box-shadow 200ms ease;

  .mc-invert & {
    background: $mc-color-light;
    box-shadow: inset 0 0 0 1px $mc-color-gray-500;
  }

  // The "actual" element, (input, textarea, select, etc)
  &__element {
    font-family: $mc-font-default;
    background: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: $input-padding;
    color: $mc-color-light;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.625px;
    text-overflow: ellipsis;
    resize: none;

    .mc-invert & {
      color: $mc-color-dark;
    }

    &::placeholder {
      color: rgba($mc-color-light, 0.5);

      .mc-invert & {
        color: rgba($mc-color-dark, 0.3);
      }
    }
  }

  &--focus {
    color: $mc-color-gray-600;
    box-shadow: inset 0 0 0 2px $mc-color-gray-400;

    // Even though it's the same color,
    // base invert resets this to 1px so it needs
    // more specificity
    .mc-invert & {
      box-shadow: inset 0 0 0 2px $mc-color-gray-400;
    }
  }

  // Error states
  // Eventually should be   .mc-form-group--error &
  &--error {
    box-shadow: inset 0 0 0 2px $mc-color-primary;

    .mc-invert & {
      box-shadow: inset 0 0 0 2px $mc-color-primary;
    }
  }

  &--disabled {
    background: $mc-color-gray-200;
    box-shadow: none;

    .mc-invert & {
      background: $mc-color-gray-700;
      box-shadow: inset 0 0 0 1px $mc-color-gray-600;
    }

    &:hover,
    &:active {
      box-shadow: none;

      .mc-invert & {
        box-shadow: inset 0 0 0 1px $mc-color-gray-600;
      }
    }

    .mc-form-element__element,
    .mc-form-element__element::selection {
      background: transparent;
      color: rgba($mc-color-light, 0.5);

      .mc-invert & {
        background: transparent;
        color: rgba($mc-color-dark, 0.3);
      }
    }

    // disable cursor
    * { cursor: not-allowed; }
  }
}
