.input-field {
  $padding-y: 1.6rem;
  $padding-x: 1.3rem;

  position: relative;
  line-height: 2rem;
  margin: 1.2rem 0;

  &__input {
    padding: $padding-y $padding-x;
    border-radius: 0.4rem;
    border: 0.1rem solid rgba($mc-gray-200, 0.2);
    font-weight: 400;
    font-size: 1.5rem;
    color: $mc-gray-200;
    transition: border 350ms cubic-bezier(0.25, 0.1, 0.25, 1);
    line-height: inherit;

    &:focus {
      border-color: $mc-gray-200;
      outline: 0;
    }

    &::placeholder {
      color: rgba($mc-gray-200, 0.5);
    }

    &--with-label {
      padding: 1.8rem $padding-x 0.8rem;
    }

    &--full-width {
      width: 100%;
    }

    &--error {
      border: 0.1rem solid $error-color;

      &:focus {
        border-color: $error-color;
      }
    }

    &--warning {
      border: 0.1rem solid $warning-color;

      &:focus {
        border-color: $warning-color;
      }
    }

    &--no-resize {
      resize: none;
    }

    &--disabled {
      opacity: 0.5;
    }

    &[type="text"],
    &[type="password"],
    &[type="file"],
    &[type="search"],
    &[type="tel"],
    &[type="email"],
    &[type="submit"] {
      border-radius: 0.4rem;
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    bottom: 2.5rem;
    left: $padding-x;
    font-size: 1.1rem;
    pointer-events: none;
    transition: all 350ms cubic-bezier(0.25, 0.1, 0.25, 1);

    &--hide {
      opacity: 0;
      transform: translateY(2px);
    }
  }

  &__error {
    display: block;
    font-size: 1.5rem;
    color: $error-color;
    margin: 0 0 0.5rem;
    text-align: left;
  }

  &__warning {
    display: block;
    font-size: 1.5rem;
    color: $error-color;
    margin: 0 0 0.5rem;
    text-align: left;
  }
}
