// Once a form has any characters entered, it
// needs a class added of .mc-form__input--modified

// If the user removes / deletes their input, the modified
// class is removed.

// This class helps manage the positioning
// for labels and input padding.

// Helper variables
$input-padding: 12px !default;

.mc-form-prepend,
.mc-form-append {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-form-prepend {
  padding: $input-padding 0 $input-padding $input-padding;
}

.mc-form-append {
  padding: $input-padding $input-padding $input-padding 0;
}

.mc-form-group {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 24px; // not sure this should go here.
}

.mc-form-textbox {
  display: flex;
  align-items: center;
  border: 1px solid $mc-color-gray-300;
  background: $mc-color-gray-200;
  border-radius: 4px;
  width: 100%;
  transition: border 200ms ease;

  &__input {
    position: relative;
    width: 100%;
    padding: $input-padding;
    transition: padding 250ms ease;

    input {
      font-family: $mc-font-default;
      background: none;
      outline: none;
      border: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.5px;
      color: $mc-color-gray-600;

      &::placeholder {
        color: $mc-color-gray-400;
        opacity: 0;
        transition: opacity 250ms ease;
      }
    }
  }

  &:hover {
    cursor: text;
    border-color: $mc-color-gray-400;
  }

  &--focus {
    border-color: $mc-color-gray-400;
  }

  &--focus,
  &--modified {
    .mc-form-textbox {
      &__input {
        padding: 19px $input-padding 5px;

        input {
          &::placeholder {
            opacity: 1;
          }
        }
      }

      &__label {
        transform: scale(0.75) translateY(-60%);
      }
    }
  }

  // When we don't want to move the label up
  &--no-label {
    .mc-form-textbox {
      &__label { opacity: 0; }
      &__input {
        padding: $input-padding;

        input::placeholder {
          color: $mc-color-gray-500;
          opacity: 1;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: $input-padding;
    left: $input-padding;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: $mc-color-gray-500;
    pointer-events: none; // let react handle states
    transform-origin: 0 50%;
    transform: translateY(0%);
    transition:
      transform 320ms ease,
      opacity 320ms ease;
  }
}
