.mc-form-prepend,
.mc-form-append {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-form-prepend {
  padding: $input-padding 0 $input-padding $input-padding;
}

.mc-form-append {
  padding: $input-padding $input-padding $input-padding 0;
}

.mc-form-group {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 24px; // not sure this should go here.
}
