.mc-form-prepend,
.mc-form-append {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $input-padding;
}

.mc-form-prepend {
  padding-right: 0;
}

.mc-form-append {
  padding-left: 0;
}

.mc-form-group {
  position: relative;
  margin-bottom: $grid-gutter-width / 2;

  @media (min-width: $mc-bp-sm) {
    margin-bottom: $grid-gutter-width-sm / 2;
  }

  @media (min-width: $mc-bp-md) {
    margin-bottom: $grid-gutter-width-md / 2;
  }

  @media (min-width: $mc-bp-lg) {
    margin-bottom: $grid-gutter-width-lg / 2;
  }

  @media (min-width: $mc-bp-xl) {
    margin-bottom: $grid-gutter-width-xl / 2;
  }
}

.mc-form-help {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  color: $mc-color-gray-500;
}
