@import "../mixins/mixins";

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// Map for breakpoint helper
$mc-bp: (
  xs: $mc-bp-xs,
  sm: $mc-bp-sm,
  md: $mc-bp-md,
  lg: $mc-bp-lg,
  xl: $mc-bp-xl
) !default;

@mixin mc-bp-up ($breakpoint) {
  @if map-has-key($mc-bp, $breakpoint) {
    $min-width: map-get($mc-bp, $breakpoint);

    @media (min-width: $min-width) {
      @content;
    }

  }

  @else {
    @warn "There is no breakpoint with that name";
  }
}
