// Naming Convention
//
// Prefixed all variables with mc
// mc-font, mc-color, mc-contain, mc-asset

// Fonts
$mc-font-default: "Lato", "Helvetica", "Arial", sans-serif !default; // Should be used in most cases

// If we move to a light site later
// these variables will be easier to find
$mc-color-light:             #fff !default;
$mc-color-dark:              #000 !default;

// Colors
$mc-color-primary:           #c83232 !default;
$mc-color-primary-hover:     #d63636 !default;
$mc-color-primary-active:    #b22b2b !default;

$mc-color-secondary:         #232325 !default;
$mc-color-secondary-hover:   #2c2c2e !default;
$mc-color-secondary-active:  #1f1f21 !default;

$mc-color-tertiary:          #75787f !default;
$mc-color-tertiary-hover:    #90949d !default;

$mc-color-background:        #090909 !default;
$mc-color-background-invert: #ebeeee !default;
$mc-color-text:              $mc-color-light !default;
$mc-color-text-invert:       #8ca1c1 !default;

// Not quite 50 of them, but...
$mc-color-gray-100:           #272c33 !default;
$mc-color-gray-200:           #191c21 !default;
$mc-color-gray-300:           #31333b !default;
$mc-color-gray-400:           #596170 !default;
$mc-color-gray-500:           #949aa4 !default;
$mc-color-gray-600:           #dbdde1 !default;

$mc-color-error:        rgba($mc-color-primary, 0.6) !default;
$mc-color-warning:      rgba($mc-color-primary, 0.6) !default;

// External brands
$mc-color-facebook:     #3c5a99 !default;
$mc-color-twitter:      #2ba2ef !default;

// The yiq lightness value that determines when the
// lightness of color changes from "dark" to "light".
// Acceptable values are between 0 and 255.

$yiq-contrasted-threshold:  150 !default;
$yiq-text-dark:             #777 !default;
$yiq-text-light:            #fff !default;

// Animations
$mc-default-ease: cubic-bezier(0.25, 0.1, 0.25, 1) !default;

// Z-indexes
$mc-zindex-dropdown:          1000 !default;
$mc-zindex-sticky:            1020 !default;
$mc-zindex-fixed:             1030 !default;
$mc-zindex-modal-backdrop:    1040 !default;
$mc-zindex-modal:             1050 !default;
$mc-zindex-popover:           1060 !default;
$mc-zindex-tooltip:           1070 !default;

// Unit of measurement
$mc-unit:                     4px !default;

// Font Sizes
$default-font-size:  1.6rem !default;
$btn-font-size-base: 1.4rem !default;
$btn-line-height:    2rem !default;

$default-btn-line-height: 2rem !default;

// Options
$enable-transitions:   true !default;
$enable-rounded:       true !default;
$enable-shadows:       false !default;
$enable-gradients:     false !default;

/// Components
// Define common padding and border radius sizes and more./Borders
$border-radius: 0.4rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-sm: 0.3rem !default;

$btn-focus-width: 0.2rem !default;

$btn-box-shadow: inset 0 1px 0 rgba($mc-color-light, 0.15), 0 1px 1px rgba($mc-color-dark, 0.075) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($mc-color-dark, 0.125) !default;

$transition-base:        all 0.2s ease-in-out !default;

// Custom bootstrap grid overrides
$grid-gutter-width:      16px !default;
$grid-gutter-xl-width:   32px !default;

$grid-gutter-widths: (
  xs: $grid-gutter-width,
  xl: $grid-gutter-xl-width
) !default;

// Breakpoints
$mc-bp-xs:     0 !default;
$mc-bp-sm:     576px !default;
$mc-bp-md:     768px !default;
$mc-bp-lg:     992px !default;
$mc-bp-xl:     1200px !default;
// NOTE: If we change these breakpoint values, we
// also need to update them for ResponsiveHandler.

$grid-breakpoints: (
  xs: $mc-bp-xs,
  sm: $mc-bp-sm,
  md: $mc-bp-md,
  lg: $mc-bp-lg,
  xl: $mc-bp-xl
) !default;


// Modal
$modal-width: 48rem !default;


// Forms
$input-padding: 12px !default;
